.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 20;
    border-right: 1px solid #f2f2f2;

    .close-icon {
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        z-index: 23;
    }

    .modal-content {
        width: 450px;
        background-color: white;
        opacity: 1;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 22;
        overflow: hidden;
        padding: 1.5rem;

        .modal-title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .5rem;

            .status {
                display: flex;
                align-items: center;
                gap: 1rem;

                .completed-task {
                    text-decoration: line-through;
                    opacity: 0.5;
                }
            }

            .tag-name {
                text-transform: uppercase;
                padding: 0.3rem 0.8rem;
                border-radius: 10rem;
            }

            .complete-button {
                background-color: transparent;
                border: transparent;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .modal-item {
            width: 100%;
            padding-left: 2.8rem ; 
            margin-top: 1rem;
            
            .date{
                margin-bottom: 1.5rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                background-color: #f2f2f2;
                padding: .5rem 1rem;
                border-radius: .5rem;
                opacity: .7;
            }
        }

        .footer {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 0.5rem;

            .event-button {
                height: 2.6rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                padding: 0 1rem;
                border-radius: 10px;
                cursor: pointer;
                color: white;
                transition: all 0.2s ease;
                background-color: transparent;

                &:hover {
                    color: #fff;
                    cursor: pointer;
                    transform: scale(1.02);
                }

                &:active {
                    background-color: #c73737;
                    transform: scale(0.98);
                }
            }
        }
    }
}
